body {
    background-image: url('../img/signup-bg.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    height: 100vh;                  
    margin: 0;                      
}
.container  {
    color: cyan !important;
}